html, body {
  margin: 0%;
}

#sidebar {
  width: 200px;
  height: 100%;
  background-color: #EEEEEE;
  position: absolute;
  margin: 0 auto 0 0;
}

#sidebar > h3 {
  margin-left: 5%;
}

#sidebar > h4 {
  margin-left: 15%;
  margin-top: 20%;
  margin-bottom: 2%;
}

#sidebar > ul, h4 {
  margin-left: 15%;
}

#header {
  width: 100%;
  height: 50px;
  background-color: #D9F0F8;
  text-align: center;
  margin: 0;
}

#header > p {
  margin-top: 5px;
}

h1 {
  font-family: arial, verdana;
}

#saveBut {
  margin: 50% auto auto 18%;
  padding: 4%;
  border-radius: 6px;
  background-color: #83b5bb38;
  border-color: #c8dde6;
}

/* Denne fungerer ikke. Sikkert fordi jeg sender id som prop, men jeg ser ikke hvor feilen er */
#loadBut {
  margin: 6% auto auto 18%;
  padding: 4%;
  padding: 4%;
  border-radius: 6px;
  background-color: #83b5bb38;
  border-color: #c8dde6;
}






/* Grid */

#grid_container {
  display: grid;
  grid-template-columns: 55% 45%;
  width: 70%;
  margin: 5% 0 0% 240px;
}

#grid_svg {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: 15%;
}

#poem {
  grid-column-start: 2;
  grid-column-end: 3;
}

#grid_sound {
  grid-column-start: 2;
  grid-column-end: 3;
}



/* Smalere skjerm. Brukte tidligere 1030 her */
@media only screen and (max-width: 912px) {
  #grid_container {
    display: grid;
    grid-template-columns: 100%;
    width: 60%;
    margin: 0 0 0% 270px;
  }

  #grid_svg {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 60%;
    padding-top: 10%;
    /*padding-right: 0;
    padding-left: 15%;*/
  }

  #poem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  #grid_sound {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 5%;
  }
  
  #grid_faviourite {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
  }

  #grid_sound audio {
    width: 350px;
  }
 }



/* Veldig smal pc-skjerm/mobil høykant. Hadde tidligere 765 */
 @media only screen and (max-width: 683px) {
  #header {
    position: static;
  }

  #sidebar {
    display: grid;
    grid-template-columns: 12% 11% 11% 11% 11% 11% 11% 11% 11%;
    height: 135px;
    width: 100%;
    background-color: #EEEEEE;
    position: absolute;
    margin: 0 0 5% 0;
  }

  h3 {
    display: none;
  }

  h4 {
    font-size: 14px;
  }

  li {
    font-size: 13px;
  }

  #sidebar > h4 {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  #sidebar > ul, h4 {
    margin: 0 auto 0 0;
  }

  #imgTitleList {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #poemTitleList {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #audTitleList {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #imgList {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #poemList {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #audList {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #saveBut {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
    margin: 0 auto auto 30px;
  }
  
  #loadBut {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 auto auto 15%;
  }


  #grid_container {
    display: grid;
    grid-template-columns: 100%;
    width: 70%;
    margin: 200px auto auto auto;
  }

  #grid_svg {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 80%;
    padding-top: 5%;
    padding-right: 0;
  }

  #poem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  #grid_sound {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 5%;
  }

  #grid_sound audio {
    width: 250px;
  }
 }