html, body {
  margin: 0%;
}

#sidebar > h3 {
  margin-left: 5%;
}

#sidebar > h4 {
  margin-left: 15%;
  margin-top: 20%;
  margin-bottom: 2%;
}

#sidebar > ul, h4 {
  margin-left: 15%;
}

#header {
  width: 100%;
  height: 50px;
  background-color: #D9F0F8;
  text-align: center;
  margin: 0;
}

#header > p {
  margin-top: 5px;
}

h1 {
  font-family: arial, verdana;
}

/* Denne fungerer ikke. Sikkert fordi jeg sender id som prop, men jeg ser ikke hvor feilen er */
#saveBut {
  margin: 80% auto auto 18%;
  padding: 4%;
  border-radius: 6px;
}

/* Denne fungerer ikke. Sikkert fordi jeg sender id som prop, men jeg ser ikke hvor feilen er */
#loadBut {
  margin: 60% auto auto 18%;
  padding: 4%;
  border-radius: 6px;
}

#sidebar {
  height: 100%;
  width: 200px;
  background-color: #EEEEEE;
  position: fixed;
  margin: 0 auto 0 0;
}

/* Grid */

#grid_container {
  display: grid;
  grid-template-columns: 45% 45% 10%;
  width: 70%;
  margin: 5% 0 0% 240px;
}

#grid_svg {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* Byttet navn fra grid_poem til poem */
/*#grid_poem {
  grid-column-start: 2;
  grid-column-end: 3;
}*/

#poem {
  grid-column-start: 2;
  grid-column-end: 3;
}

#grid_sound {
  grid-column-start: 2;
  grid-column-end: 3;
}

#grid_faviourite {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 0;
}

@media only screen and (max-width: 1030px) {
  #grid_container {
    display: grid;
    grid-template-columns: 100%;
    width: 70%;
    margin: 5% 0 0% 230px;
  }

  #grid_svg {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  /* Byttet navn fra grid_poem til poem */
  /*#grid_poem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }*/

  #poem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  #grid_sound {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 5%;
  }
  
  #grid_faviourite {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
  }

 }



/*#grid_container {
  display: grid;
  grid-template-columns: 20% 40% 30% 10%;
  width: 100%;
}

#grid_svg {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#grid_poem {
  grid-column-start: 3;
  grid-column-end: 4;
}

#grid_sound {
  grid-column-start: 3;
  grid-column-end: 4;
}

#grid_faviourite {
  grid-column-start: 3;
  grid-column-end: 4;
}

#grid_sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
  width: 200px;
  background-color: #EEEEEE;
  position: fixed;
}*/
